<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link rel="shortcut icon" type="image/jpg" href="/assets/images/fire-favicon.png" /> -->

    <link rel="shortcut icon" href="{{url_for('static',filename='images/fire-favicon.png')}}" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <title>{%block title%}{%endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}"/>
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.css')}}"/>
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}"/>
    <!-- <link rel="stylesheet" href="assets/css/templatemo-seo-dream.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animated.css')}}"/>
    <!-- <link rel="stylesheet" href="assets/css/animated.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.css')}}"/>
    <!-- <link rel="stylesheet" href="assets/css/owl.css"> -->
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
          <span class="dot"></span>
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    <!-- ***** Preloader end ***** -->

    <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">

            <!-- ***** Logo Start ***** -->
            <a href="{{url_for('index')}}" class="logo">
              <h4 class="head-links"><span class="fire">Fire</span><span class="fighter">Fighter</span></h4>
            </a>
            <!-- ***** Logo End ***** -->

            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active"><i class="fa fa-home"></i><span class="head-links">Home</span></a></li>
              <li class="scroll-to-section"><a href="#services"><i class="fa fa-globe"></i></span><span class="head-links">Services</span></a></li>
              <li class="scroll-to-section"><a href="#about"><i class="fa fa-group"></i><span class="head-links">About Us</span></a></li>
              <li class="scroll-to-section"><a href="#contact"><span  class="fa-stack" data-count="28"><i class="fa fa-envelope"></i></span><span class="head-links">Contact Us</span></a></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
 
  <!-- ***** Main Banner Start***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Agency Status:</h6>
                      <h4>Ready Work</h4>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Price:</h6>
                      <h4>$720/Month</h4>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Schedules</h6>
                      <h4>$450/Meeting</h4>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h2>Emergency &amp; Fire Fighting Agency</h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-green-button scroll-to-section">
                      <a href="" class="trigger-btn" data-toggle="modal" data-target="#myModal">Login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{url_for('static',filename='images/fire.png')}}" alt="fire">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner End***** -->

  <!-- ****** Modal Start **** -->
  <div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img src="{{url_for('static',filename='images/fire.png')}}" alt="Avatar">
          </div>				
          <h4 class="modal-title">Register</h4>	
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body m-4">
          <form action="/examples/actions/confirmation.php" method="post">
            <div class="form-group mb-3">
              <input type="text" class="form-control" name="name" placeholder="Username" required="required">		
            </div>
            <div class="form-group mb-3">
              <input type="number" class="form-control" name="p-number" placeholder="phone number" required="required">	
            </div>
            <div class="form-group mb-3">
              <input type="file" accept="image/*" class="form-control" id="profile-upload"
                  onchange="loadFile()" name="img" />
              <br />
          </div>        
            <div class="form-group mb-3 text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
   <!--***** Modal End *****  -->

   <!-- ****Services Start**** -->
   <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="services-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="services-item first-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Respond to Fires</h4>
                  <div class="line-dec"></div>
                  <p>Controlling fire hazards in the home, office and anywhere.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="services-item second-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Respond to Traffic  Accidents</h4>
                  <div class="line-dec"></div>
                  <p>use special tools to help free people who are trapped in their cars after an accident.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="services-item first-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Respond to Medical Emergencies</h4>
                  <div class="line-dec"></div>
                  <p>Provide first aid to emergency patients and take them to a health facility</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="services-item second-service last-services-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Respond to Natural Disasters</h4>
                  <div class="line-dec"></div>
                  <p>Preparedness, response, migration and recovery.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="skills-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="progress" data-percentage="80">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        80%<br>
                        <span>Respond to Calls</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="progress" data-percentage="60">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        60%<br>
                        <span>Respond to Fires</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="progress" data-percentage="90">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        90%<br>
                        <span>Assist at Car Crush</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="skill-item last-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="progress" data-percentage="70">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        70%<br>
                        <span>Chemical Spills</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- *****Services End**** -->
   <!-- ****Footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2021 Linge G. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- ****Footer Ends***** -->

    <!-- Scripts -->

    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
    <!-- <script src="assets/js/owl-carousel.js"></script> -->
    <script src="{{url_for('static', filename='js/animation.js')}}"></script>
    <!-- <script src="assets/js/animation.js"></script> -->
    <script src="{{url_for('static', filename='js/imagesloaded.js')}}"></script>
    <!-- <script src="assets/js/imagesloaded.js"></script> -->
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <!-- <script src="assets/js/custom.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>

</html>